@import "../../_variables.scss";

.container {
  @media (max-width: 768px) {
    height: calc(100vh - 84px);
  }
  height: calc(100vh - 92px);
  color: $primary-color;

  // Landing
  .landing {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      height: 128px;
      width: 128px;
      margin-bottom: 24px;
    }

    .title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 12px;
      text-align: center;
    }

    .subtitle {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 24px;
      text-align: center;
    }

    .socials {
      width: 72px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 32px;

      .social-icon {
        width: 24px;
        height: 24px;
        transition: 0.3s ease-in-out;
        color: $primary-variant;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .more {
      height: 24px;
      width: 24px;

      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  // Waves
  .wave-mobile {
    width: 100%;
    @media (min-width: 769px) {
      display: none;
    }
  }

  .wave-desktop {
    width: 100%;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
